[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
pillow = "*"
django-crispy-forms = "*"
gunicorn = "*"
dj-database-url = "*"
django-heroku = "*"
fpdf2 = "*"

[dev-packages]

[requires]
python_version = "3.7"
